:root{
    --cor-primary:rgb(51, 228, 51);
    --cor-secundary:#0e0e0e;
}

/*moblie*/

@media only screen and (max-width: 780px) {
    /*sessao 1*/
    section.inicio{
        height: 100%;
        min-height: 100vh;
        position: relative;
        width: 100%;  
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        text-align: center;
        
    }
    .foto {
        display: grid;
        place-items: center;
        text-align: center;
        padding-top: 20px;
        width: 100%;
        padding-left: 20px;
        margin-top: 90px;
    }
    
    .foto img {
        width: 200px;
        height: 300px;
        margin-bottom: 10px;
        animation: none;
        margin: 0 auto;
    }
    h1 {
        font-size: 30px;
        text-align: left;
        color: rgb(51, 228, 51);
    }
    .subtitulo h2{
        font-size: 1.3rem;
    }
    
    .apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        width: 100%;
        margin: 20px 0;
        padding:0 20px;
        
    }
    
    
    /*sessao sobre*/
    section.inicio3{
        height: 100%;
        padding: 20px;
    }
    .img-2 {
        text-align: center;
    }
    .container-2{
        margin-bottom: 20px;
        
    }
    .sobre-mim .flex img{
        display: none;
    }

    .inicio3 .flex{
        flex-direction: column;
    }
    .sobre-mim p {
        font-size:18px;
    }
    .title h2 {
        font-size: 2.2rem; 
    }
    .sobre-mim h3{
        font-size: 1.6rem;
    }
    
}
@media (max-width:900px){
    .container-2{
        width: 100%;
        padding: 20px;
        
    }
    .container-sobre{
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns:1fr;
        
    }
    .img-2{
        width: 100%;
        
    }
}

@media only screen and (max-width: 430px){
    .foto img {
        width: 200px;
        height: 250px;
        margin-top: 10px;
    }
    h1 {
        font-size: 23px;
        text-align: left;
        color: rgb(51, 228, 51);
    }

    /*sessao habilidades*/
    .habilidades{
        width: 90%;
    }
    .habilidades h2{
        margin: 30px 0 30px 0;
        font-size: 25px;
        
    }
    section.inicio3{
        height: 100%;
        padding: 10px;
    }
    .container-2{
        padding: 10px;
    }
    .habilidades .marque{
        width: 90%;
    }
    .projetos{
        height:570px;
    
    }
    
}