/*pra todos*/
*{
    color: white;
    font-family: "Roboto", sans-serif; 
    box-sizing: border-box;
}
.hide{
    display: none;
    
}
/*variaveis*/
:root{
    --cor-primary:rgb(51, 228, 51);
    --cor-secundary:#0e0e0e;
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 30px;
}
p{
    font-weight: 300;
    font-style: italic;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
.flex{
    display: flex;
     
}
.link {
    text-decoration: none;
    color:white;
    transition: 0.5s;
}
.btn-tds{
    background-color: var(--cor-primary);
    padding: 15px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 30px;
    border-radius: 6px;
    border: 2px solid var(--cor-primary);
    transition: 0.4s;
    margin-top: 15px;
    animation: piscar ease 1s infinite;
}
@keyframes piscar{
    0%{
        box-shadow: 0 0 10px var(--cor-primary);
    }
    50%{
        box-shadow: none;
    }
}
.link-a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    
}
.btn-tds:hover{
    background-color: transparent;
    animation: none;
}
::-webkit-scrollbar{
    background-color:white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor-primary);
    border-radius: 10px;
    
}


/*fim todos*/
/*principal*/
main{
    padding: 0px;
    margin: 0px;
}
/*Rolagem*/
.foto, .habilidades, .container-2, .img-2, .sobre-mim h3, .container3, .projetos:nth-child(1), .projetos:nth-child(2), .projetos:nth-child(3), .projetos:nth-child(4), .titulo, .subtitulo, .carta, .info-sobre, .habilidades h2{
    visibility: hidden;
}
/*sessao 1*/

section.inicio{
    height: 100vh;
    max-height: 1000px;
    position: relative;
    width: 100%;  
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
#particles-js{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 3, 3);;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}
.foto {
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 20px;
    width: 50%;
    padding-left: 20px;
    
}

.foto img {
    position: relative;
    width: 250px;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 50px 20px 50px 20px;
    box-shadow: 0px 0px 10px var(--cor-primary); 
    animation: flutuar 2s ease-in-out infinite alternate; 
}
@keyframes flutuar{
    0%{
        top: 10px;
    }
    100%{
        top:30px;
    }
}

h1 {
    font-size: 35px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    color: var(--cor-primary);
    text-shadow: 0 0 20px rgb(19, 18, 18);
}
.subtitulo h2{
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
}
.subtitulo span{
    color: var(--cor-primary);
}
.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    margin: 0;
    padding: 0;
    margin-left:40px ;
    gap: 15px;
    
}

.apresentacao ul li{
    padding: 0;
    margin: 0;
}

.apresentacao h3{
    font-size: 25px;
}

.apresentacao p{
    font-size: 18px;
    margin: 0;
}
.rede-sociais1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 170px;
    backdrop-filter: blur(20px);
    padding: 10px 5px;
    border-radius: 5px;
    right: 0;
}


/*fim sessao 1*/
/*sessao 2*/
section.inicio2{
    background-image: url(../Imagens/vector-graphic-8052820_1280.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    padding-bottom: 80px;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img-habilidades img{
    width: 50px;
}
.habilidades li img{
    width: 25px;
}
.habilidades ul{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
.habilidades li{
    margin:20px 0;
}
.habilidades h3{
    font-size: 18px;
    font-weight: 500;
}
.habilidades{
    width: 80%;
    max-width: 600px;
    padding: 10px 25px;
    height: 100%;
    padding-bottom: 50px;
    margin-top: 70px;
    border-radius:  20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px #aaaaaa;
    cursor: pointer;
}
.marque{
    width: 60%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 0 10px white;
}



.habilidades h2{
    text-align: center;
    margin: 20px 0 30px 0;
    color:var(--cor-primary);
    font-size: 35px;
    font-weight: 700;
    
}
li div{
    justify-content: space-between;
}
.habilidades .barra{
   background-color: rgb(214, 214, 214);
   backdrop-filter: blur(30px);
   border: 1px solid black;
   display: block;
   height: 20px;
   position: relative;
   overflow: hidden;
   transition: 0.5s ease-in-out;
   border-radius: 10px;
   
   
}

.barra > span{
    height: 30px;
    background: linear-gradient(to left, rgb(51, 228, 51) 0%, #fd1d1d 50%, #fcb045 100%);
    position: absolute;
}
.html, .css{
    width: 70%;
    animation: html 5s;
}
.javascript, .python{
    width: 55%;
    animation: css 5s;
}
.php{
    width:40% ;
    animation: javascript 5s;
}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
       width: 70%; 
    }
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
       width: 55%; 
    }
}
@keyframes javascript{
    0%{
        width: 0;
    }
    100%{
       width: 40%; 
    }
}
/*fim sessao 2*/
/*sessao 3*/
section.inicio3{
    background-color:rgb(3, 3, 3);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 70px 20px;
}
.sobre-mim img{
    float: right;
    width: 70px;
    height: 50px;
    margin: 0px 20px 0 10px;
}
.container-sobre{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    gap: 20px;
}

.container-2{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--cor-secundary);
    padding: 30px;
    position: relative;
    
}

.title{
    text-align: center;
}
.title p{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--cor-primary);
    margin-bottom: 0px;
}
.title h2 {
    text-align: center;
    font-size: 2.7rem;
    padding: 0px 0 30px 0;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}
.sobre-mim h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: white;
}
.img-2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img-2 img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    box-shadow: 0px 0 5px white;
    border-radius: 8px;
}
.container-2 span{
    color: var(--cor-primary);
}
.sobre-mim p {
    font-size:18px;
    text-align: justify;
    font-weight: 300;
    margin-bottom: 5px;
}


.rede-sociais1 a i {
    text-align: left;
}
/* fim sessao 3*/

/*section 04*/
section.inicio4{
    background: black;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 40px;
    margin: 0;
}
.container3{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius:  20px;
    background:transparent;
    padding: 30px;
    text-align: center;
}
.flex-proj{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
}
.container3 .flex{
    flex-direction: row;
}
.container3 h2{
    text-align: center;
    padding: 10px 0;
    color: var(--cor-primary);
}
.container3 .flex{
    gap: 30px;
    margin: 20px;
    text-align: center ;
    
}
.projetos{
    height: 515px;
    background-color: #1f1e1e;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 15px #0e0e0e;;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
    padding: 10px; 
    position: relative;

}


.container3 p{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
}
.botao{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.botao a{
    width: 50%;
    padding: 0; 
    margin: 5px 8px;
}
.botao i{
    font-size: 15px;
    color: var(--cor-primary);
    position: relative;
    top: -1px;
}
.botao button {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    
    
}
.hov{
    transition: 0.3s;
}
.hov:hover{
    box-shadow: 0 0 5px white;
    transform: scale(1.04);
    
}
.icons-linguagem img{
    width: 35px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 5px;
}
.icons-linguagem img:nth-child(2){
    left: 40px;
}
.icons-linguagem img:nth-child(3){
    left: 75px;
}
.proj, .proj2, .proj3, .proj4{
    background-image: url(../Imagens/fotos-projetos/lista-tarefas.png.png);
    background-size: cover;
    background-position: center;
    height: 40%;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.proj2{
    background-image: url(../Imagens/fotos-projetos/Projeto-form.png.png);

}
.proj3{
    background-image: url(../Imagens/fotos-projetos/Captura\ de\ tela\ 2024-08-27\ 150834.png);

}
.proj4{
    background-image: url(../Imagens/fotos-projetos/Captura\ de\ tela\ 2024-08-25\ 124224.png);
}
.hover{
    transition: 0.5s;
}
.hover:hover{
    transform: scale(1.04);
    cursor: pointer;
    box-shadow: 0 0 5px rgb(122, 122, 122);
}

.container3 button{
    margin-top: 20px;
    background-color: rgb(13, 15, 13);
    border-radius: 5px;
    padding: 5px 10px;
    border: none;

}
.mais-projetos{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.project-hover{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
.mais-projetos a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: 0.5s;
}

.mais-projetos i{
    font-size: 18px;
    transition: 0.5s;
    font-size: 18px;
    transform: translate(-10PX, 2px);
    
}
.project-hover:hover i{
    transform: translate(0px, 2px);
    color: var(--cor-primary);
}
.project-hover:hover a{
    color: var(--cor-primary);
}


/* fim sessao 4*/

/* sessao 5*/
section.rodape{
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 150px;  
    padding-top: 40px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.icons{
    padding: 5px;
    font-size: 30px;
    color:var(--cor-primary);
    
}

.rodape .flex{
    justify-content: center;
    text-align: left;
    margin: 10px;
}
.line-footer p i{
    font-size: 30px;
    color:var(--cor-primary);
}

.line-footer p a{
    text-decoration: none;
    color: white;
    font-size: 15px; 
    font-weight: 400;
    font-style: italic;
}
.line-footer p{
    padding-left: 10px;
}
.borda{
    border-top:1px solid var(--cor-primary);
}
/*botao subir para o inicio*/

.icon{
    opacity: 0;
    
}
.cima:hover i{
    transform: scale(1.1);
    opacity: 0.8;
    
}
.view{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 25px;
    color: var(--cor-primary);
    z-index: 8;
    font-size: 35px;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

  


    












