*{
    font-family: "Roboto", sans-serif;   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    
}


/*variaveis*/
:root{
    --cor-primary:rgb(51, 228, 51);
}
::-webkit-scrollbar{
    background-color:white;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor-primary);
    border-radius: 10px;
    
}

/*header*/
header{
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 99;
}
header button a{
    padding: 5px 10px;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}
header ul{
    list-style: none;
    padding-top: 8px;
}
.texto p{
    padding-top: 5px;
    font-size: 25px;
    font-weight: 500;
}
ul button{
    border: none;
    border-radius: 5px;
    background-color: var(--cor-primary);
    transition: 0.5s;
    margin-top: 3px;
    border: 2px solid var(--cor-primary);
    padding: 0px 10px;
}
ul:hover button{
    transform: scale(1.05);
    background-color: transparent;
}

.texto a{
    text-decoration: none;
}
.texto p span{
    color: var(--cor-primary);
}
/*fim header*/
body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
}
#particles-js{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 3, 3);;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}
section{
    height:100% ;
    width: 100vw;
    position: relative;
    color: white;
    padding: 0 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.title{
    z-index: 2;
}
.title h1{
    font-size: 2rem;
    z-index: 8;
    text-align: center;
    font-weight: 500;
    color: white;
    position: relative; 
}
.title h1 span{
    color: var(--cor-primary);
}
.title h1::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70%;
    height: 4px;
    background-color: var(--cor-primary);
    border-radius: 5px;
}
.containers{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
    z-index: 5;
}
/* div dos cursos */
.cursos{
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    cursor: pointer;
    z-index: 3;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 10px rgb(61, 61, 61);
}
.cursos img{
    width: 100%;
    height: 180px; 
    transition: 0.8s;
    border-radius: 8px;
}
.cursos img:hover{
    transform: scale(1.1);
}
.informacao{
    z-index: 10;
}
.informacao h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
}
.informacao p {
    text-align: justify;
    font-weight: 100;
    font-style: italic;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    
    
}
.botao button{
    background-color: var(--cor-primary);
    border: 2px solid var(--cor-primary);
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    width: 300px;
    padding: 5px 0; 
    align-self: flex-end;
    transition: .5s;
    
}
.botao button:hover{
    background-color: transparent;
}

/* rodape */
.rodape{
    height: 150px;  
    margin: 0;
    text-align: center;
    width: 100%;
}

.icons{
    padding: 5px;
    font-size: 30px;
    color:var(--cor-primary);
    
}

.rodape .flex{
    justify-content: center;
    text-align: left;
    margin: 10px;
}
.line-footer p i{
    font-size: 30px;
    color:var(--cor-primary);
}

.line-footer p a{
    text-decoration: none;
    color: white;
    font-size: 15px; 
    font-weight: 400;
    font-style: italic;
}
.line-footer p{
    padding-left: 10px;
}
.borda{
    border-top:2px solid var(--cor-primary);
    width: 100%;
}

@media screen and (max-width:1500px){
    .containers{
        max-width: 800px; 
    }
}